@model Meeting

<header>
    <a href="#" class="logo">meetme</a>

    <a href="#" class="logo">old trafford</a>

</header>

<nav class="navigation">
    <a href="@Url.Action("Logout","Main")">تسجيل الخروج</a>
    <a href="@Url.Action("Index","UserPage")">الحساب الشخصي</a>
    <a href="@Url.Action("Index","PreviousMeeting")">الجلسات السابقة</a>
    <a href="@Url.Action("Index","UpcommingMeeting")">جلسة قيد الاجراء</a>
    <a href="@Url.Action("CommitteeMembers","Main")">تشكيل المجلس</a>
    <a href="@Url.Action("SelectCommittee","Main")">الصفحه الرئيسية</a>
</nav>
<div class="user-info">
    <p>وظيفة المستخدم</p>
    <p>اسم المستخدم</p>
</div>
<div class="info_page_head">
    <p>
        تفاصيل الجلسة
    </p>
</div>


<section class="information-main_sectione">
        <h2>تفاصيل الجلسة</h2>
        <div class="info_info_place">
            <p>@Model.Name</p>
            <label>اسم الجلسة</label>
        </div>
        <div class="info_info_place">
            <p>@Model.EndDate</p>
            <label>الى</label>
        </div>
        <div class="info_info_place">
            <p>@Model.StartDate</p>
            <label>من</label>
        </div>
        <label>التوقيت</label>
        <div class="info_info_place">
            <p>@Model.Place</p>
        </div>
        <label>مكان الانعقاد</label>
        <div class="info_info_place">
            <p>@Model.Goal</p>
        </div>
        <label>اهداف الجلسه</label>
        <div class="info_info" id="type-number-filter">
            @if(Model.Emergency)
            {
                <p>طارئة</p>
            }
            else
            {
                <p>عادية</p>
            }
            <label for="type">نوع الجلسة</label>
        </div>
</section>

<footer>
    <p>جميع الحقوق محفوظة &copy; 2023 by team 7</p>
</footer>
