@model List<MemberMeeting>

<header>
    <a href="#" class="logo">meetme</a>

    <a href="#" class="logo">Org icon </a>

</header>

<nav class="navigation">
    <a href="@Url.Action("Logout","Main")">تسجيل الخروج</a>
    <a href="@Url.Action("Index","UserPage")">الحساب الشخصي</a>
    <a href="@Url.Action("Index","PreviousMeeting")">الجلسات السابقة</a>
    <a href="@Url.Action("Index","UpcommingMeeting")">جلسة قيد الاجراء</a>
    <a href="@Url.Action("CommitteeMembers","Main")">تشكيل المجلس</a>
    <a href="@Url.Action("SelectCommittee","Main")">الصفحه الرئيسية</a>
</nav>

<div class="process-bar">
    <p>
        جلسة قيد الاجراء
    </p>
</div>

<section class="main_section">
    <div class="table-responsive">
        <table class="table">
            <thead id="thead">
                <tr>
                    <th>الرد</th>
                    <th>التفاصيل / حالة الحضور</th>
                    <th>نوع الجلسة</th>
                    <th>تاريخ الجلسة</th>
                    <th>رقم الجلسة </th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model)
                {
                    <tr>
                        <td>
                            @if (item.Response == State.NotAnswerd)
                            {
                                <text>لم يتم الرد</text>
                            }
                            else if(item.Response==State.Attend)
                            {
                                <text>حضور</text>
                            }
                            else
                            {
                                 <text>اعتذار</text>
                            }
                        </td>
                    <td>
                        @if(item.Response==State.NotAnswerd)
                        {
                            <button>
                                    <a style="text-decoration: none;color:black;" href="@Url.Action("AddResponse","UpcommingMeeting",new{Response=0,id=item.MemberMeetingId})">
                                    <b>
                                        <span class="material-symbols-outlined">close</span>
                                        اعتذار
                                    </b>
                                </a>
                            </button>
                            <button>
                                    <a style="text-decoration: none;color:black;" href="@Url.Action("AddResponse","UpcommingMeeting",new{Response=1,id=item.MemberMeetingId})">
                                    <b>
                                        <span class="material-symbols-outlined">done</span>
                                        حضور
                                    </b>
                                </a>
                            </button>
                        }
                        else
                        {
                            <button>
                                    <a style="text-decoration: none;color:black;" href="@Url.Action("AddResponse","UpcommingMeeting",new{Response=2,id=item.MemberMeetingId})">
                                    <b>
                                        <span class="material-symbols-outlined">done</span>
                                        الغاء الرد
                                    </b>
                                </a>
                            </button>
                        }
                    <button>
                        <b>
                            <span class="material-symbols-outlined">info</span>
                            التفاصيل
                        </b>
                    </button>
                    </td>
                        @if (item.Meeting.Emergency)
                        {
                            <td>طارئة</td>
                        } 
                        else
                        {
                            <td>عادية</td>
                        }
                    <td>@item.Meeting.StartDate</td>
                    <td>@item.MeetingId</td>
                </tr>
                }
            </tbody>
        </table>
    </div>

</section>

<footer>
    <p>جميع الحقوق محفوظة &copy; 2023 by team 7</p>
</footer>

