@model Member
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    var session = HttpContextAccessor.HttpContext.Session;

    var sessionId = (RoleType)session.GetInt32("Role");
    var username = session.GetString("UserName");
}


<header>
    <a href="#" class="logo">meetme</a>

    <a href="#" class="logo">Org icon </a>

</header>
<nav class="navigation">
        <a href="@Url.Action("Logout","Main")">تسجيل الخروج</a>
    <a href="@Url.Action("Index","UserPage")" style="color:rgb(120,226,230);">الحساب الشخصي</a>
        <a href="@Url.Action("Index","PreviousMeeting")">الجلسات السابقة</a>
        <a href="@Url.Action("Index","UpcommingMeeting")">جلسة قيد الاجراء</a>
        <a href="@Url.Action("CommitteeMembers","Main")">تشكيل المجلس</a>
        <a href="@Url.Action("SelectCommittee","Main")">الصفحه الرئيسية</a>
</nav>
<div class="user-info">
    <p>@sessionId</p>
    <p>@username</p>
</div>
<section class="add-member-main_sectionee">
    <div class="add-member-containeree">
        <form class="formee" method="post" asp-action="Create" onsubmit="return validatePasswordChangeForm()">
            <h2> اضافة عضو جديد</h2>
            <input asp-for="Name" type="text" class="box" placeholder="اسم العضو">
            <span asp-validation-for="Name"></span>
            <input asp-for="Phone" type="text" class="box" placeholder="رقم الهاتف">
            <span asp-validation-for="Phone"></span>
            <input asp-for="Email" type="text" class="box" placeholder="البريد الالكتروني">
            <span asp-validation-for="Email"></span>
            <input asp-for="Password" id="password" type="text" class="box" placeholder="كلمة المرور">
            <span asp-validation-for="Password"></span>
            <text id="alert">@ViewBag.Error</text>
            <input type="submit" value="اضافة" id="submit">
        </form>
    </div>
</section>

<footer>
    <p>جميع الحقوق محفوظة &copy; 2023 by team 7</p>
</footer>

<script>
    function validatePasswordChangeForm() {
        var newPasswordInput = document.getElementById("password");
        var txt = document.getElementById("alert");

        // Validate new password
        var newPassword = newPasswordInput.value;
        if (!newPassword || newPassword.trim() === "") {
            txt.innerText = "يرجى إدخال كلمة المرور الجديدة.";
            return false;
        }

        // Validate password length
        if (newPassword.length < 8) {
            txt.innerText = "يجب أن تحتوي كلمة المرور الجديدة على الأقل على 8 أحرف.";
            return false;
        }

        return true; // Submit the form
    }
</script>