@model Member
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    var session = HttpContextAccessor.HttpContext.Session;

    var sessionId = (RoleType)session.GetInt32("Role");
    var username = session.GetString("UserName");
}


<header>
    <a href="#" class="logo">meetme</a>

    <a href="#" class="logo">old trafford</a>

</header>
<nav class="navigation">
    <a href="@Url.Action("Logout","Main")">تسجيل الخروج</a>
    <a href="@Url.Action("Index","UserPage")" style="color:rgb(120,226,230);">الحساب الشخصي</a>
    <a href="@Url.Action("Index","PreviousMeeting")">الجلسات السابقة</a>
    <a href="@Url.Action("Index","UpcommingMeeting")">جلسة قيد الاجراء</a>
    <a href="@Url.Action("CommitteeMembers","Main")">تشكيل المجلس</a>
    <a href="@Url.Action("SelectCommittee","Main")">الصفحه الرئيسية</a>
</nav>
<div class="user-info">
    <p>@sessionId</p>
    <p>@username</p>
</div>
<section class="add-member-main_sectionee">
    <div class="add-member-containeree">
        <form class="add-member-formee" asp-action="Edit" method="post">
            <h2> تعديل بيانات عضو</h2>
            <label>اسم العضو</label>
            <input type="hidden" asp-for="@Model.MemberId" value="@Model.MemberId" />
            <span asp-validation-for="MemberId"></span>
            <input type="text" asp-for="@Model.Name" class="box"  value="@Model.Name">
            <span asp-validation-for="Name"></span>
            <label>رقم الهاتف</label>
            <input type="text" asp-for="@Model.Phone" class="box" value="@Model.Phone">
            <span asp-validation-for="Phone"></span>
            <label>البريد الالكترونى</label>
            <input type="text" asp-for="@Model.Email" class="box" value="@Model.Email">
            <span asp-validation-for="Email"></span>
            <label>كلمة المرور</label>
            <input type="text" asp-for="@Model.Password" class="box" value="@Model.Password">
            <span asp-validation-for="Password"></span>
            <input type="submit" value="حفظ" id="submit">
        </form>
    </div>
</section>

<footer>
    <p>جميع الحقوق محفوظة &copy; 2023 by team 7</p>
</footer>
