@using Meeting_Manegment_System.ViewModels
@model ProfilePageView
@{
    
}
<header>
    <a href="#" class="logo">meetme</a>

    <a href="#" class="logo">Org icon </a>

</header>

<nav class="navigation">
    <a href="@Url.Action("Logout","Main")">تسجيل الخروج</a>
    <a href="@Url.Action("Index","UserPage")" style="color:rgb(120,226,230);">الحساب الشخصي</a>
    <a href="@Url.Action("Index","PreviousMeeting")">الجلسات السابقة</a>
    <a href="@Url.Action("Index","UpcommingMeeting")">جلسة قيد الاجراء</a>
    <a href="@Url.Action("CommitteeMembers","Main")">تشكيل المجلس</a>
    <a href="@Url.Action("SelectCommittee","Main")">الصفحه الرئيسية</a>
</nav>

<div class="user-info">
    <p>@{
            <text>
                @Model.Role.ToString()
            </text>
        }</p>
    <p>@Model.Member.Name</p>
</div>

<section class="user-action">
    <div class="card-content">
    @if(Model.Role==RoleType.Admin)
    {
            <div class="card2">
                <div class="icon2">
                    <i class="fa-sharp fa-solid fa-user-plus"></i>
                </div>
                <div class="info2">
                    <a href="@Url.Action("NewMember")" class="card2-btn">اضافة عضو جديد</a>
                </div>
            </div>

            <div class="card2">
                <div class="icon2">
                    <i class="fa-solid fa-user-minus"></i>
                </div>
                <div class="info2">
                    <a href="@Url.Action("Delete")" class="card2-btn">ازالة او تعديل عضو</a>
                </div>
            </div>

            <div class="card2">
                <div class="icon2">
                    <i class="fa-solid fa-users"></i>
                </div>
                <div class="info2">
                    <a href="#" class="card2-btn">اضافة لجنة جديدة</a>
                </div>
            </div>

            <div class="card2">
                <div class="icon2">
                    <span class="material-symbols-outlined icon_plus">
                        group_remove
                        </span>
                </div>
                <div class="info2">
                    <a href="" class="card2-btn">ازالة لجنة</a>
                </div>
            </div>
    }
    @if(Model.Role!=RoleType.Member&&Model.Role!=RoleType.Admin)
    {
            <div class="card2">
                <div class="icon2">
                    <i class="fa-solid fa-people-line"></i>
                </div>
                <div class="info2">
                    <a href="@Url.Action("AddToCommittee","Member")" class="card2-btn">اضافة عضو</a>
                </div>
            </div>
            <div class="card2">
                <div class="icon2">
                    <i class="fa-solid fa-people-line"></i>
                </div>
                <div class="info2">
                    <a href="@Url.Action("Create","Meeting")" class="card2-btn">انشاء جلسة جديدة</a>
                </div>
            </div>
    }

    <div class="card2">
        <div class="icon2">
            <i class="fa-solid fa-unlock"></i>
        </div>
        <div class="info2">
            <a href="@Url.Action("ForgetPassword","UserPage")" class="card2-btn">تغيير كلمة المرور</a>
        </div>
    </div>
    </div>
</section>

<footer>
    <p>جميع الحقوق محفوظة &copy; 2023 by team 7</p>
</footer>
