@model Member

<header>
    <a href="#" class="logo">meetme</a>

    <a href="#" class="logo">Org icon </a>

</header>

<nav class="navigation">
    <a href="@Url.Action("Index","UserPage")">الحساب الشخصي</a>
    <a href="@Url.Action("Logout","Main")">تسجيل الخروج</a>
    <a href="#">البحث عن موضوعات</a>
    <a href="@Url.Action("Index","PreviousMeeting")">الجلسات السابقة</a>
    <a href="@Url.Action("Index","UpcommingMeeting")">جلسة قيد الاجراء</a>
    <a href="@Url.Action("CommitteeMembers","Main")">تشكيل المجلس</a>
    <a href="@Url.Action("SelectCommittee","Main")">الصفحه الرئيسية</a>
</nav>

<div class="user-info">
    <p>asdf</p>
    <p>@Model.Name</p>
</div>

<section class="user-action">
    <div class="card-content">
        <div class="card2">
            <div class="icon2">
                <i class="fa-solid fa-unlock"></i>
            </div>
            <div class="info2">
                <!-- <h3>اسم اللجنة الاولى</h3> -->
                <a href="@Url.Action("ForgetPassword","UserPage")" class="card2-btn">تغيير كلمة المرور</a>
            </div>
        </div>
    </div>
</section>

<footer>
    <p>جميع الحقوق محفوظة &copy; 2023 by team 7</p>
</footer>
