@using Meeting_Manegment_System.ViewModels
@model CommitteeMembersView

<header>
    <a href="#" class="logo">meetme</a>

    <a href="#" class="logo">Org icon </a>

</header>

<nav class="navigation">
    <a href="@Url.Action("Logout","Main")">تسجيل الخروج</a>
    <a href="@Url.Action("Index","UserPage")">الحساب الشخصي</a>
    <a href="@Url.Action("Index","PreviousMeeting")">الجلسات السابقة</a>
    <a href="@Url.Action("Index","UpcommingMeeting")">جلسة قيد الاجراء</a>
    <a href="@Url.Action("CommitteeMembers","Main")">تشكيل المجلس</a>
    <a href="@Url.Action("SelectCommittee","Main")">الصفحه الرئيسية</a>
</nav>
<div class="process-bar">
    <p>
        تشكيل المجلس
    </p>
</div>
<section class="main_section">
    <div class="table-responsive">
        <table class="table">
            <thead id="thead">
                <tr>
                    <th>المدة المتبقية</th>
                    <th>تاريخ نهاية العضوية</th>
                    <th>تاريخ بداية العضوية</th>
                    <th>الدور</th>
                    <th>الوظيفة</th>
                    <th>اسم العضو</th>
                    <th>الرقم</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var i = 1;
                    foreach(var item in Model.members)
                    {
                        var rem = (item.EndDate - DateTime.Now);
                        var remm = rem.TotalDays;
                        var years=(int) remm / 365;
                        var days =(int) remm % 365;
                        <tr>
                        <td>@years Y @days D</td>
                        <td>@item.EndDate</td>
                        <td>@item.StartDate</td>
                        <td>@item.Role</td>
                        <td>@item.Role</td>
                        <td>@item.Member.Name</td>
                        <td>@i</td>
                        </tr>
                        i++;
                    }
                }
            </tbody>
        </table>
    </div>

</section>

<footer>
    <p>جميع الحقوق محفوظة &copy; 2023 by team 7</p>
</footer>

