@model Voting
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    var session = HttpContextAccessor.HttpContext.Session;

    var sessionId = (RoleType)session.GetInt32("Role");
    var username = session.GetString("UserName");
}


<header>
    <a href="#" class="logo">meetme</a>

    <a href="#" class="logo">old trafford</a>

</header>
<nav class="navigation">
    <a href="@Url.Action("Logout","Main")">تسجيل الخروج</a>
    <a href="@Url.Action("Index","UserPage")">الحساب الشخصي</a>
    <a href="@Url.Action("Index","PreviousMeeting")">الجلسات السابقة</a>
    <a href="@Url.Action("Index","UpcommingMeeting")" style="color:rgb(120,226,230);">جلسة قيد الاجراء</a>
    <a href="@Url.Action("CommitteeMembers","Main")">تشكيل المجلس</a>
    <a href="@Url.Action("SelectCommittee","Main")">الصفحه الرئيسية</a>
</nav>
<div class="user-info">
    <p>@sessionId</p>
    <p>@username</p>
</div>

<div class="info_page_head">
    <p>
        موضوع جديد
    </p>
</div>
<section class="information-main_sectione" style="flex-direction:column;">
    <form class="information-formee" asp-action="Create" method="post">
        <h2 style="text-align: center;">موضوع جديد</h2>

        <div class="infoo_infoo" style="display: flex; flex-direction: column; align-items: center;">
            <label style="text-align: center;">عنوان الموضوع</label>
            <input type="text" asp-for="Question" class="box_infoeo" style="width: 300px;">
        </div>
        
        <div class="infoo_infoo" style="display: flex; flex-direction: column; align-items: center;">
            <label style="text-align: center;">الموضوع</label>
            <textarea asp-for="Description" cols="45" rows="6" style="width: 300px;"></textarea>
        </div>
        
        <input type="hidden" asp-for="MeetingId" value="@Model.MeetingId" />
        
        <div class="infoo-infoo" style="display: flex; justify-content: center;">
            <input type="submit" style="width: fit-content;justify-content:center;align-items:center;" value="ارسال" id="submit" />
        </div>
    </form>
</section>


<footer>
    <p>جميع الحقوق محفوظة &copy; 2023 by team 7</p>
</footer>